@model BarSearchResult

@if (Model.Input.Count() != 0)
{ }
<br />
<div class="row">
    @foreach (var result in Model.Input)
    {
        <partial name="_BarPartial" model="@result" />
    }
</div>



